
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="ico" href="/assets/image/fevicon.ico"/>
    <title>Enigma</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hashGrid.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Enigma" href="/feed.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<header class="engima">     
  <a href="/index"><img class="engima--logo " src="../assets/image/group.svg" alt="hashlogo"></a>
      <div class="engima--list">
         <div class="engima--list--header">
            <a href="/feature" class="engima--home">Features</a>
            <!-- <a href="/blog" class="engima--home">Blogs</a> -->
         </div>
            <button href="#popup5" id="open_popup5">Request for Demo</button>
      </div>
           
<!-- popup -->
    <div id="popup5" >
      <div class="modal contact" id="bgImg5">
          <div class="contact__close" id="close_popup5">
            <img  src="../assets/image/cross.svg">
          </div>
          <div class="contact__form" id="pop5">
            <form id="test-form5">
              <input type="text" name="name" placeholder="Name" id="name5" required>
              <input type="email" name="email" id="emailVal5" placeholder="Email" required>
              <input type="text" name="phone" placeholder="Phone" id="phone5" required> 
              <textarea name="message" placeholder="Message"></textarea>
              <input type="submit" id="submit-form5" class="send" value="Send">
              <h1 id="errormsg5"></h1>
            </form>
          </div>  
          <div class="contact__thanku" id="imga5">
              <h1>Thank you!</h1>
              <h2>We will get back to you.</h2>
          </div>
      </div>
    </div>
  
<!-- end popup -->

           <!-- mobile view -->
      <div class="engima__toggle">     
          <div class="modal-toggle1"  href="#mobileview" id="openMobile"> 
          <img src="../assets/image/toggle.svg" alt="hashlogo"></div>
      </div>
      <div id="mobileview" >
          <div class="modal1">
            <div class="mobileHeader">
                <div class="mobileHeader__close" id="close_view"><img src="../assets/image/cross.svg"></div> 
                 <a href="/feature"><h2>Features</h2></a>
                <!-- <h2>Blogs</h2> -->
                <button class="mobileHeader__request" href="#popup6" id="open_popup6" >Request for Demo</button>
                <a href="/index"><img class="" src="../assets/image/group.svg" alt="hashlogo"></a>
            </div>
          </div>
        </div>
             <!-- popup -->
      <div  id="popup6">
        <div class="modal contact" id="bgImg6">
          <div class="contact__close" id="close_popup6"><img  src="../assets/image/cross.svg"></div>
            <div class="contact__form" id="pop6">
              <form id="test-form6">
                <input type="text" name="name" placeholder="Name" id="name6" required>
                <input type="email" name="email" id="emailVal6" placeholder="Email" required>
                <input type="text" name="phone" placeholder="Phone" id="phone6" required> 
                <textarea name="message" placeholder="Message"></textarea>
                <input type="submit" id="submit-form6" class="send" value="Send">
                <h1 id="errormsg6"></h1>
              </form>
            </div>  
            <div class="contact__thanku" id="imga6">
                <h1>Thank you!</h1>
                <h2>We will get back to you.</h2>
            </div>
        </div>
      </div>
 </header>
     <!-- <script type="text/javascript" src="/assets/js/head.js"></script> -->
     <script>
        $("#openMobile").click(function(){
       $("#mobileview").css("display", "flex");
    });

  $("#close_view").click(function(){
      $("#mobileview").css("display", "none");
    }); 

  $('body').click(function(e){
      if(e.target.style[0] == "display"){
      $("#mobileview").css("display","none");
  }
  });
      //validation
      $(document).ready(function() {
              var $form5 = $('form#test-form5'),
              url ='https://script.google.com/macros/s/AKfycby3d1zVG8oEUMW3IMqlGU7hkP5a4aE_BB--DCB-9IZHAxk3jTEx/exec'
      
              $('#submit-form5').on('click', function(e) {
                  var email = $("#emailVal5").val();
                  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                  if ($('#name5').val() == '') {
                    document.getElementById("errormsg5").innerHTML="this is invalid name ";                  
                  }else if(regex.test(email) === false){
                    document.getElementById("errormsg5").innerHTML="this is invalid email ";
                  }else if ($('#phone5').val() == '') {
                    document.getElementById("errormsg5").innerHTML="this is invalid phone ";
                  }else{
                    var jqxhr = $.ajax({
                          url: url,
                          method: "GET",
                          dataType: "json",
                          data: $form5.serializeObject(),
                          success: function() {
                          }
                      })
                      submitContact5('success');
                  }     
                  e.preventDefault();
              })
          });
      
    // google sheet update end
    
        $("#open_popup5").click(function(){
            $("#popup5").css("display", "flex");
            $("#bgImg5").css("background-image",'url(' + '../assets/image/popup.jpg' + ')');
            $("#pop5").show();
            $("#imga5").hide();
       });
       function submitContact5(value) { 
            if(value === 'success') {
            $("#bgImg5").css("background-image",'url(' + '../assets/image/thanks.jpg' + ')');
            $("#bgImg5").height("383px");
            // $("#popup1").css("height","300px");
            $("#pop5").hide();
            $("#imga5").show();
      }
      }
    
        $("#close_popup5").click(function(){
            $("#popup5").css("display", "none");
          }); 
    
        $('body').click(function(e){
            if(e.target.style[0] == "display"){
            $("#popup5").css("display","none");
            $("#popup5").css("height","300px;");
        }
        });
    </script>

    <!-- 2nd popup -->
    <script>
      //validation
      $(document).ready(function() {
              var $form6 = $('form#test-form6'),
              url ='https://script.google.com/macros/s/AKfycby3d1zVG8oEUMW3IMqlGU7hkP5a4aE_BB--DCB-9IZHAxk3jTEx/exec'
      
              $('#submit-form6').on('click', function(e) {
                  var email = $("#emailVal6").val();
                  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                  if ($('#name6').val() == '') {
                    document.getElementById("errormsg6").innerHTML="this is invalid name ";                  
                  }else if(regex.test(email) === false){
                    document.getElementById("errormsg6").innerHTML="this is invalid email ";
                  }else if ($('#phone6').val() == '') {
                    document.getElementById("errormsg6").innerHTML="this is invalid phone ";
                  }else{
                    var jqxhr = $.ajax({
                          url: url,
                          method: "GET",
                          dataType: "json",
                          data: $form6.serializeObject(),
                          success: function() {
                          }
                      })
                      submitContact6('success');
                  }     
                  e.preventDefault();
              })
          });
      
    // google sheet update end
    
        $("#open_popup6").click(function(){
            $("#popup6").css("display", "flex");
            $("#bgImg6").css("background-image",'url(' + '../assets/image/popup.jpg' + ')');
            $("#pop6").show();
            $("#imga6").hide();
       });
       function submitContact6(value) { 
            if(value === 'success') {
            $("#bgImg6").css("background-image",'url(' + '../assets/image/thanks.jpg' + ')');
            $("#bgImg6").height("383px");
            // $("#popup1").css("height","300px");
            $("#pop6").hide();
            $("#imga6").show();
      }
      }
    
        $("#close_popup6").click(function(){
            $("#popup6").css("display", "none");
          }); 
    
        $('body').click(function(e){
            if(e.target.style[0] == "display"){
            $("#popup6").css("display","none");
            $("#popup6").css("height","300px;");
        }
        });
    </script>

    </body>