{% include head.html %}
  

<div class="feature">
    <div class="feature__image">
      <h2>Features</h2>
      <p>Built for Production and the Enterprise.</p>
    </div>

    <div class="feature__fast">
            
            <h1><img  src="../assets/image/arrow1.svg" alt="">&nbsp Fast. Secure. Scalable. &nbsp<img  src="../assets/image/arrow2.svg" alt=""></h1>
            <div class="row"> 
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img class="feature__fast--img" src="../assets/image/feature/fast1.svg" alt="">
                        <p>Operates at < 1% overhead.</p>
                        <p> Low network and storage overhead.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img class="feature__fast--img" src="../assets/image/feature/fast2.svg" alt="">
                        <p>No changes to code or build.</p>
                        <p> Built for microservices. 5-min deploy.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img class="feature__fast--img" src="../assets/image/feature/fast3.svg" alt="">
                        <p>Enterprise security. </p>
                        <p>On-premises and in the Cloud.</p>
                </div> 
                <div class="feature__fast--fast4"><img src="../assets/image/feature/fast4.svg" alt=""></div>
            </div>
    </div>
     <div class="feature__choose">
        <h1>Choose Your Configuration</h1>
        <h2>Access Control</h2>
        <p>Hybrid mode enables you to leverage our AWS infrastructure without sending out sensitive data. Perfect for PII, PCI and HIPAA compliant applications.</p>
    </div>

    <div class="feature__extreme">
        <div class="row"> 
                <h1>Extreme Performance</h1>
                <h3>Runs in the World’s Most Demanding Environments</h3>
           <div class="col-xs-12 col-sm-6">
                   <h2>CPU overhead</h2>
                   <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
           </div>
           <div class="col-xs-12 col-sm-6">
                <h2>No GC overhead</h2>
                <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
           </div>

           <div class="col-xs-12 col-sm-6">
                <h2>No Throughput Overhead</h2>
                <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
                <h2>Network overhead (< 50mb per hour)</h2>
                <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
          </div>
          <div class="col-xs-12 col-sm-6">
                <h2>No reliance on logs</h2>
                <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
         </div>
         <div class="col-xs-12 col-sm-6">
                <h2>No dependency on OverOps</h2>
                <p>OverOps employs self-throttling at the JVM level,combined with continuous guidance provided by the analysis engine to limit the number of error snapshots taken. This ensures CPU usage by the agent is kept under a 3% threshold and < 1% with the Enterprise Edition.</p>
        </div>
        <div class="feature__extreme--ext1"><img src="../assets/image/feature/ext1.svg" alt=""></div>  
         <div class="feature__extreme--ext2"><img src="../assets/image/feature/ext2.svg" alt=""></div>
        </div>
    </div>

    <div class="feature__enterprise">
                <h1>Enterprise Security</h1>
                <h2>Access Control</h2>
                <p>Robust support for two-factor authentication with OAuth (e.g Google Apps and GitHub),  LDAP and SAML. Administrators can limit access to OverOps to a specific VPN or network. Communication between all OverOps components is made over outbound HTTPS port 443.</p>
    </div>

    <div class="feature__code">
                <div class="row"> 
                                <h1>Easy to Deploy</h1>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                         
                            <img src="../assets/image/feature/code1.svg" alt="">
                            <h2>A Simple JVM Agent</h2>
                            <p>HotSpot, OpenJDK and Zulu, BM J9. Versions 6-8.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="../assets/image/feature/code2.svg" alt="">
                            <h2>No changes to code or build</h2>
                            <p> Simply install the micro-agent and addan -agentlib argument to your JVM.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="../assets/image/feature/code3.svg" alt="">
                            <h2>All JVM Languages</h2>
                            <p>Support all JVM languages and frameworks from WebLogic to Scala and Groovy.</p>
                    </div> 
                    <div class="feature__code--code4"><img src="../assets/image/feature/code4.svg" alt=""></div>
                </div>
        </div>

</div>

 {% include footer.html %} 