

{% include head.html %}
<div class="home">
    <div class="home__img">
        <h1>Code . Error . Resolve</h1>
        <p>Teletype(beta) for Atom lets developers 
            share their workspace with team members and collaborate on code in real time.</p>
    </div>
<div class="homeAlligment">
    <div class="home__configure">
        <div class="row"> 
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
               <h2><img  src="../assets/image/arrow1.svg" alt="">&nbsp Configure &nbsp <img  src="../assets/image/arrow2.svg" alt=""></h2>
                <p>On the field of battle, there are no winners and losers- there is only a general who was better prepared. In order to win, configure the right tool that works like your own agent, spotting run time errors and exceptions before the enemy can. Give yourself the strategic advantage of Enigma!</p>
            </div>
            <div class="home__configure--image col-xs-12 col-sm-6 col-md-6 "> </div>
        </div>
    </div>
    <div class="home__monitor">
            <div class="row"> 
                <div class="col-xs-12 col-sm-6 col-md-6 last-sm col-lg-6 ">
                        <h2><img  src="../assets/image/arrow1.svg" alt="">&nbsp Monitor &nbsp<img  src="../assets/image/arrow2.svg" alt=""></h2>
                    <p>What do you call a general with his eyes and ears open at all times?- Paranoid! No need to be awake 24x7, our efficient monitoring system will step in as you focus on your strategy! Enigma will not only patrol your applications on your behalf, but also ensure a diligent monitoring of every inch of your bases, keeping you protected from enemies beyond and within!</p>
                </div>
                <div class="home__monitor--image col-xs-12 col-sm-6 col-md-6 "> </div>
            </div>
        </div>

        <div class="home__resolve">
                <div class="row"> 
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h2><img  src="../assets/image/arrow1.svg" alt="">&nbsp Resolve &nbsp<img  src="../assets/image/arrow2.svg" alt=""></h2>
                      <p>So you have enlisted the best agent, proceeded with round the clock monitoring and identified the weakness in the nick of time? How to win the battle from here? Charge! Let Enigma guide your troops as you infiltrate the hostile territory, eliminating all threats effectively, saving both time and resources as you maintain your turf. As for victory? You had already won it, when you prepared with Enigma for war</p>
                    </div>
                    <div class="home__resolve--image col-xs-12 col-sm-6 col-md-6 "> </div>
                </div>
            </div>
        </div>
        <div class="home__feature">
            <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>Features</h2>
                            <p> Set up Enigma in minutes with just a few lines of code. Get notifications via email, 
                                SMS, or chat as part of an existing workflow when errors occur or resurface.</p>
                           <h3 class="home__feature--learn">Learn More</h3>
                          <div>
                                <img class="home__feature--border1" src="../assets/image/home/border1.svg" alt="">
                                <img class="home__feature--border2" src="../assets/image/home/border2.svg" alt="">
                                <img class="home__feature--border3" src="../assets/image/home/border3.svg" alt="">
                                <img class="home__feature--border4" src="../assets/image/home/border4.svg" alt="">
                                <img class="home__feature--border5" src="../assets/image/home/border5.svg" alt="">
                                <img class="home__feature--border6" src="../assets/image/home/border6.svg" alt="">
                                <img class="home__feature--border7" src="../assets/image/home/border7.svg" alt="">
                                <img class="home__feature--border8" src="../assets/image/home/border8.svg" alt="">
                        
     <div class="home__feature--feature1 clients" id="clients">
        <div class="containerr">
             <div class="clients-info">
                <img class="featureimage" src="../assets/image/home/feature1.svg" alt="">
                <h5>Choose Your Configuration</h5> 
          </div>
        </div>		
     </div>          
    <div class="home__feature--feature2 clients"  id="zoom2">
        <div class="containerr">
            <div class="clients-info1">
                <img  class="featureimage" src="../assets/image/home/feature2.svg" alt="">
                <h5>Extreme Performance</h5>
            </div>
        </div>
    </div>
                           
    <div class="home__feature__right">
        <div class="home__feature__right--feature3 clients"  id="zoom3">
            <div class="containerr">
                <div class="clients-info3">
                    <img  class="featureimage" src="../assets/image/home/feature3.svg" alt="">
                    <h5> Enterprise Security</h5>
                </div>
             </div>
        </div>
        <div class="home__feature__right--feature4 clients"  id="zoom4">
            <div class="containerr">
                 <div class="clients-info4">
                    <img  class="featureimage" src="../assets/image/home/feature4.svg" alt="">
                    <h5>Easy to  Deploy</h5>
                </div>
            </div>
        </div>
    </div>
 </div>
 </div>
 </div>            
</div> 
</div>
  <script>
  
  $(window).scroll(function(){
  var windowWidth = $(this).width();
  var windowHeight = $(this).height();
  var windowScrollTop = $(this).scrollTop();
  

  var firstAnimation = function(){
    $('.clients .clients-info').each(
       function(){ 
        //  $(this).delay(500).animate(
        //    {opacity:1,height:'100',width:'100'},1500);
           
          $(this).addClass('testing'); 
           
           }
     	);
  };
 
  if(windowWidth<=549){
    if(windowScrollTop>1500){
  		firstAnimation();
  	}
  }else if(windowWidth>549 && windowWidth>=991){
    if(windowScrollTop>1500){
  		firstAnimation();
  	} 
  }else{
     if(windowScrollTop>1500){
  		firstAnimation();
  	}
  }

  var firstAnimation1 = function(){
    $('.clients .clients-info1').each(
       function(){ 
        
            $(this).addClass('testing1');
           }
     	);
  };
 
  if(windowWidth<=549){
    if(windowScrollTop>1500){
  		firstAnimation1();
  	}
  }else if(windowWidth>549 && windowWidth>=991){
    if(windowScrollTop>1500){
  		firstAnimation1();
  	} 
  }else{
     if(windowScrollTop>1500){
  		firstAnimation1();
  	}
  }
//third 
var firstAnimation3 = function(){
    $('.clients .clients-info3').each(
       function(){ 
        $(this).addClass('testing'); 
       }
     	);
  };
 
  if(windowWidth<=549){
    if(windowScrollTop>1500){
  		firstAnimation3();
  	}
  }else if(windowWidth>549 && windowWidth>=991){
    if(windowScrollTop>1500){
  		firstAnimation3();
  	} 
  }else{
     if(windowScrollTop>1500){
  		firstAnimation3();
  	}
  }
  //4th
  var firstAnimation4 = function(){
    $('.clients .clients-info4').each(
       function(){ 
        $(this).addClass('testing1'); 
        }
     	);
  };
 
  if(windowWidth<=549){
    if(windowScrollTop>1500){
  		firstAnimation4();
  	}
  }else if(windowWidth>549 && windowWidth>=991){
    if(windowScrollTop>1500){
  		firstAnimation4();
  	} 
  }else{
     if(windowScrollTop>1500){
  		firstAnimation4();
  	}
  }

});
  </script>
 {% include footer.html %}